<div class="container mx-auto col-12 col-lg-8">

    <div class="card">
      <img src="../assets/logo_telzir.png" class="card-img-top" alt="...">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="source"> Origem</label>
            <select class="form-control" id="source">
              <option>011</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="destiny"> Destino</label>
            <select class="form-control" id="destiny">
              <option>011</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="time">Tempo</label>
            <input type="number" class="form-control" id="time">
          </div>
  
          <div class="form-group">
            <label for="plan"> Plano</label>
            <select class="form-control" id="plan">
              <option>011</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
  
        </form>
  
        <button type="button" class="btn btn-primary">
          CALCULAR
        </button>
  
      </div>
    </div>
  
  </div>