.card {
    width: 98%;
    margin: 10% 0 5%;
    border-radius: 10px;
}

.card img {
    width: 280px;
    margin: auto;
    margin-top: 15%;
}

input, select {
    border-radius: 20px;
    background-color: #d6d6d6;
}

.btn {
    width: 100%;
    border-radius: 20px;
    background-color: #125fae;
    border-color: #125fae;
    margin: 4% 0 5%;
}

.btn:hover {
    background-color: #292929;
    border-color: #292929;
}